.registration-confirm-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.registration-confirm-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.registration-confirm-image {
  width: 200px;
  object-fit: cover;
}
.registration-confirm-form {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.registration-confirm-text {
  color: rgb(6, 36, 75);
  font-size: 4em;
  align-self: stretch;
  margin-top: 0px;
  text-align: center;
  font-family: "Poppins";
}
.registration-confirm-text01 {
  color: rgb(6, 36, 75);
  width: 100%;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 3;
  margin-left: 0px;
  margin-right: 0px;
}
.registration-confirm-footer {
  gap: var(--dl-space-space-unit);
  flex: 0;
  width: 1344px;
  bottom: 0;
  height: 22px;
  display: flex;
  position: fixed;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-end;
}
.registration-confirm-text07 {
  color: rgb(6, 36, 75);
  font-size: 1.5em;
  align-self: center;
  margin-top: 0px;
  font-family: "Poppins";
  margin-left: 0px;
  margin-right: 0px;
}
.registration-confirm-text08 {
  color: var(--dl-color-gray-black);
  font-size: 10px;
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.registration-confirm-icon-group {
  margin: 0px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.registration-confirm-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-confirm-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-confirm-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.registration-confirm-navbar-interactive {
  top: 0;
  width: 100%;
  height: 88px;
  display: flex;
  opacity: 1;
  z-index: 900;
  position: fixed;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: #ffffff;
}
.registration-confirm-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.registration-confirm-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.registration-confirm-hero {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-xxlarge);
  min-height: auto;
  border-color: #06244B;
  border-width: 2px;
  flex-direction: row;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
}
.registration-confirm-image1 {
  width: 80%;
  height: 80px;
  align-self: center;
  object-fit: cover;
}
.registration-confirm-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.registration-confirm-navlink {
  display: contents;
}
.registration-confirm-text09 {
  color: rgb(6, 36, 75);
  width: auto;
  font-size: 2.5em;
  align-self: flex-start;
  text-decoration: none;
}
.registration-confirm-text10 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  animation-name: none;
  animation-delay: 0s;
  background-image: linear-gradient(90deg, rgb(15, 18, 100) 2%, rgb(109, 242, 230) 100%);
  animation-duration: 300ms;
  animation-direction: alternate-reverse;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.registration-confirm-links {
  flex: 1;
  width: 1128px;
  display: flex;
  align-items: center;
  border-color: #06244B;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
}
.registration-confirm-container4 {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.registration-confirm-navlink1 {
  color: rgb(6, 36, 75);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.registration-confirm-navlink2 {
  color: rgb(6, 36, 75);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.registration-confirm-navlink3 {
  color: rgb(6, 36, 75);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.registration-confirm-navlink4 {
  color: rgb(6, 36, 75);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.registration-confirm-buttons {
  display: flex;
  align-items: center;
  border-color: #06244B;
  border-width: 2px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
}
.registration-confirm-login {
  color: rgba(6, 36, 75, 1);
  width: auto;
  height: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  border-color: rgba(6, 36, 75, 1);
  border-width: 3px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #ffffff;
}
.registration-confirm-register {
  color: #52F4AB;
  width: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  border-color: rgba(6, 36, 75, 1);
  border-width: 3px;
  text-decoration: none;
  background-color: rgba(6, 36, 75, 1);
}
.registration-confirm-burger-menu {
  display: none;
}
.registration-confirm-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.registration-confirm-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.registration-confirm-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registration-confirm-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.registration-confirm-logo {
  height: 2rem;
}
.registration-confirm-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-confirm-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.registration-confirm-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.registration-confirm-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-confirm-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-confirm-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-confirm-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-confirm-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.registration-confirm-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.registration-confirm-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-confirm-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-confirm-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .registration-confirm-form {
    width: 948px;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
  }
  .registration-confirm-text07 {
    margin-left: 300px;
  }
  .registration-confirm-hero {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .registration-confirm-form {
    width: 722px;
  }
  .registration-confirm-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .registration-confirm-text07 {
    margin-left: 0px;
  }
  .registration-confirm-text08 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .registration-confirm-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .registration-confirm-desktop-menu {
    display: none;
  }
  .registration-confirm-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .registration-confirm-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .registration-confirm-text17 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .registration-confirm-text18 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .registration-confirm-text19 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .registration-confirm-text20 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .registration-confirm-login1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border-width: 2px;
  }
  .registration-confirm-register1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border-width: 2px;
  }
}
@media(max-width: 479px) {
  .registration-confirm-form {
    width: 451px;
    height: 543px;
  }
  .registration-confirm-text {
    font-size: 3.5em;
  }
  .registration-confirm-text01 {
    font-size: 28px;
  }
  .registration-confirm-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .registration-confirm-text07 {
    color: #0c0c0c;
    font-size: 6em;
    margin-top: var(--dl-space-space-sixunits);
    font-family: Poppins;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .registration-confirm-text08 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .registration-confirm-navbar-interactive {
    padding: var(--dl-space-space-unit);
    background-color: rgba(127, 178, 255, 0.35);
  }
  .registration-confirm-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .registration-confirm-mobile-menu {
    padding: 16px;
    background-color: #efefef;
  }
  .registration-confirm-text17 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .registration-confirm-text18 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .registration-confirm-text19 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .registration-confirm-text20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .registration-confirm-login1 {
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
  }
  .registration-confirm-register1 {
    border-width: 2px;
  }
}
